@model SocialNetwork.ViewsModels.SendMessageViewModel
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="scroll" id="scroll">
            @foreach (var m in Model.Messages)
            {
                if (m.UserFrom.UserId == Model.I.UserId)
                {
                    <div class="mailfrom">
                        <img src="@Url.Action("GetImage","Profile",new  { PhotoId = Model.I.UserPhotoId })" width="150" height="150" />
                        <p>
                            @m.Text
                        </p>
                    </div>

                }
                else
                {
                    <div class="mailto">
                        <p>
                            @m.Text
                        </p>
                        <img src="@Url.Action("GetImage","Profile",new  { PhotoId = Model.Companion.UserPhotoId })" width="150" height="150" />
                    </div>
                }
            }
        </div>
        <hr/>
        <script>
        function OnComplete() {
            $("#text").val("");
        }
        </script>
        @using (Ajax.BeginForm("SendMessage", null, new AjaxOptions() { UpdateTargetId = "scroll", InsertionMode = InsertionMode.InsertAfter, OnComplete = "OnComplete" }, new { @class = "mess-form" }))
        {
            @Html.Hidden("from", Model.I.UserId)
            @Html.Hidden("to", Model.Companion.UserId)
            @Html.TextArea("text");
            <button type="submit" class="btn">Send</button>
        }
    </div>
</div>

